#flexContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: wrap;
    grid-gap: 100px; /* WOW, funktioniert auch mit flexbox 😮*/
    padding-top: 130px;
    padding-left: 120px;
}

#rightSide{
    height:400px;
    width:400px;
}

#aboutMeImage {
    height:100%;
    width: 100%;
    object-fit: cover;
    clip-path: circle(200px);
}

#textBox {
    max-width: 700px;
    font-size: 24px;
    margin-bottom: 70px;
}

#contactInformation {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    grid-gap: 60px; /* WOW, funktioniert auch mit flexbox 😮*/
}

.contactIcon {
    height: 48px;
    width: 48px;
    cursor: pointer;

}

@media (max-width: 1320px) {
    #rightSide {
        order: 1;
    }
    #leftSide {
        order: 2;
    }
}
