@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

/* Variablen */

:root {
    --text-color: white;
    --black50: rgba(0, 0, 0, 0.5);
}

/* Text */

* {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

p {
    font-family: "Roboto", sans-serif;
}

/* Sonstiges */

body {
    background-color: black;
    margin: 0;
    padding: 0;
}
