<div class="bigArrow">

</div>
<div class="projectNavigationButton">
    <div class="smallArrow" id="left">
    </div>
    <p>Vorheriges Projekt</p>
</div>
<div class="socialMediaButtons">
    <div class="socialMediaButton">
    </div>
    <div class="socialMediaButton">
    </div>
    <div class="socialMediaButton">
    </div>
    <div class="socialMediaButton">
    </div>
    <div class="socialMediaButton">
    </div>
</div>
<div class="projectNavigationButton">
    <p>Nächstes Projekt</p>
    <div class="smallArrow" id="right">
    </div>
</div>
<div id="breakline">

</div>
<div id="siteLinks">
    <div id="siteLinksLeft">
        <p>Alexander Baur</p>
        <p>Korbinian Maag</p>
        <p>Marc Zinser</p>
    </div>
    <div id="siteLinksRight">
        <p>Impressum</p>
        <p>Datenschutzerklärung</p>
        <p>Kontakt | Über Mich</p>
    </div>
</div>
<div id="copyright">

</div>
