<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/footer.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>

<div class="bigArrow">

</div>
<div id="social-project-nav">
    <div class="projectNavigationButton">
            <img src="../img/icons/arrow-left.svg" alt="">
            <p class="projectNavigationLink">Vorheriges Projekt</p>
    </div>
    <div class="socialMediaButtons">
        <div class="socialMediaButton">
            <img class="contactIcon" src="../img/icons/twitter.svg" alt="img desc">
        </div>
        <div class="socialMediaButton">
            <img class="contactIcon" src="../img/icons/instagram.svg" alt="img desc">
        </div>
        <div class="socialMediaButton">
            <img class="contactIcon" src="../img/icons/youtube.svg" alt="img desc">
        </div>
        <div class="socialMediaButton">
            <img class="contactIcon" src="../img/icons/pinterest.svg" alt="img desc">
        </div>
        <div class="socialMediaButton">
            <img class="contactIcon" src="../img/icons/dribbble.svg" alt="img desc">
        </div>
    </div>
    <div class="projectNavigationButton">
        <p class="projectNavigationLink">Nächstes Projekt</p>
        <img src="../img/icons/arrow-right.svg" alt="">

    </div>
</div>

<div id="breakline">
</div>

<div id="split">
    <div id="leftSide">
        <a class="siteLink" href="#">Alexander Baur</a> <br />
        <a class="siteLink" href="#">Korbinian Maag</a> <br />
        <a class="siteLink" href="#">Marc Zinser</a> <br />
    </div>
    <div id="rightSide">
        <a class="siteLink" href="#">Impressum</a> <br />
        <a class="siteLink" href="#">Datenschutzerklärung</a> <br />
        <a class="siteLink" href="#">Kontakt | Über Mich</a>
    </div>
</div>
<div id="copyright">
<p>Copyright 2020 by</p>
<img id="logo" src="../img/logo.svg" alt="potograppy logo">
</div>

</html>
