<div class="bigArrow">

</div>
<div id="social-project-nav">
    <div class="projectNavigationButton" id="prevProjectButton">
        <img src="/img/icons/arrow-left.svg" alt="">
        <p class="projectNavigationLink">Vorheriges Projekt</p>
    </div>
    <div class="socialMediaButtons">
        <div class="socialMediaButton">
            <img class="contactIcon" src="/img/icons/twitter.svg" alt="img desc">
        </div>
        <div class="socialMediaButton">
            <img class="contactIcon" src="/img/icons/instagram.svg" alt="img desc">
        </div>
        <div class="socialMediaButton">
            <img class="contactIcon" src="/img/icons/youtube.svg" alt="img desc">
        </div>
        <div class="socialMediaButton">
            <img class="contactIcon" src="/img/icons/pinterest.svg" alt="img desc">
        </div>
        <div class="socialMediaButton">
            <img class="contactIcon" src="/img/icons/dribbble.svg" alt="img desc">
        </div>
    </div>
    <div class="projectNavigationButton" id="nextProjectButton">
        <p class="projectNavigationLink">Nächstes Projekt</p>
        <img src="/img/icons/arrow-right.svg" alt="">
    </div>
</div>

<div id="breakline">
</div>

<div id="split">
    <div id="leftSide">
        <a class="siteLink" href="/alex/projects.html">Alexander Baur</a> <br />
        <a class="siteLink" href="/korbi/projects.html">Korbinian Maag</a> <br />
        <a class="siteLink" href="/marc/projects.html">Marc Zinser</a> <br />
    </div>
    <div id="rightSide">
        <a class="siteLink" href="/impressum.html">Impressum</a> <br />
        <a class="siteLink" href="/datenschutz.html">Datenschutzerklärung</a> <br />
        <a class="siteLink" id="footerContactLink" href="../aboutme.html">Kontakt | Über Mich</a>
    </div>
</div>
<div id="copyright">
    <p>Copyright 2020 by</p>
    <img id="logo" src="/img/logo.svg" alt="logo">
</div>
