<div id="menu">
    <div id="leftMenu">
        <img id="backMenuBtn" onclick="window.history.back()" src="../img/icons/arrow_back-white-24dp.svg">
        <img id="homeMenuBtn" onclick="window.location.href = '/'" src="../img/icons/home-white-24dp.svg">
    </div>
    <div id="middleMenu">
        <label id="siteName">
                ReplaceMeSiteName
        </label>
        <label>|</label>
        <label id="projectDude">
                ReplaceMeSiteDude
        </label>
    </div>
    <div id="rightMenu">
        <label id="about">
            Über mich | Kontakt
        </label>
    </div>
</div>
